<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" asp-controller="Home" asp-action="Index">My Things </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" asp-controller="Categories" asp-action="ManageCategories">Manage Categories</a>
			</li>
		</ul>

		<partial name="_LoginPartial" />
	</div>
</nav>
