@model IEnumerable<TaskDto>

<div class="row">
	<!-- Tasks and categories navbar -->
	<div class="col-lg-2">
		@await Component.InvokeAsync(typeof(TaskViewComponent))
		<br />
		@await Component.InvokeAsync(typeof(CategoryViewComponent))
	</div>

	<!-- Tasks -->
	<div class="col-lg-8">
		<ul class="list-group">
			@if (Model.Any())
			{
				foreach (var task in Model)
				{
					<li class="list-group-item list-group-item-action" data-task-id="@task.Id">
						@task.Name
					</li>
				}
			}
			else
			{
				<li class="list-group-item disabled">No tasks.</li>
			}
		</ul>
	</div>

	<!-- Details -->
	<div class="col-lg-2">
		<div id="detailsTab"></div>
	</div>
</div>
