@model ToDoList.ViewModels.Tasks.EditTaskViewModel

@{
	ViewData["Title"] = "Edit Task";
}

<div class="container">
	<h2>@ViewBag.Title</h2>
	<hr />

	<form method="post">
		<div class="form-group">
			<label asp-for="Name">Name:</label>
			<input asp-for="Name" type="text" class="form-control">
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="DueDate">Due date:</label>
			<input asp-for="DueDate" type="password" class="form-control">
			<span asp-validation-for="DueDate" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Priority">Priority</label>
			<input asp-for="Priority" type="password" class="form-control">
			<span asp-validation-for="Priority" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="Category">Category</label>
			<input asp-for="Category" type="password" class="form-control">
			<span asp-validation-for="Category" class="text-danger"></span>
		</div>

		<button type="submit" class="btn btn-primary">Update task</button>
	</form>
</div>
