@model EditCredentialsViewModel

@{
	ViewData["Title"] = "Edit Credentials";
}

<div class="container">
	<h2>@ViewBag.Title</h2>
	<hr />

	<form method="post">
		<div class="form-group">
			<label asp-for="OldEmail"></label>
			<input asp-for="NewEmail" type="text" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="OldPassword"></label>
			<input asp-for="NewPassword" type="password" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="OldPassword"></label>
			<input asp-for="NewPassword" type="password" class="form-control" />
		</div>
	</form>
</div>
