<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" asp-controller="Home" asp-action="Index">ToDo List </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarContent">
		<ul class="navbar-nav mr-auto">
			@*<li class="nav-item active">
				<a class="nav-link" asp-controller="Notes" asp-action="AddNote">Add note </a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" asp-controller="Notes" asp-action="Mine">My notes </a>
			</li>*@
		</ul>

		<partial name="_LoginPartial" />
	</div>
</nav>
