@model ToDoList.ViewModels.Categories.CategoriesViewModel

<div>
	<h3>Categories</h3>
	<form class="input-group mb-2" id="categoryForm">
		<input class="form-control" type="text" id="categoryName" placeholder="Add category">
		<div class="input-group-append">
			<button class="btn btn-outline-secondary js-add-category" type="submit">Add</button>
		</div>
	</form>

	<div id="categoriesList">
		@foreach (var category in Model.Categories)
		{
			<a href="#" class="btn btn-outline-secondary btn-block">@category.Name</a>
		}
	</div>
</div>
