@{
	ViewData["Title"] = "Get Started";
}

<div id="getStarted">
	<h1>My Things</h1>
	<h3>Create tasks and manage them.</h3>
	<hr />

	<a asp-controller="Account" asp-action="LogIn" class="btn btn-primary btn-lg">Get Started</a>
</div>
