@model IEnumerable<MyThings.Application.ViewModels.Categories.CategoryViewModel>

@{
	ViewData["Title"] = "Manage Categories";
}

<div class="container">
	<h2>@ViewBag.Title</h2>
	<hr />

	<ul class="list-group" id="manageCategories">
		@foreach (var category in Model)
		{
			<li class="list-group-item">@category.Name <button class="btn btn-danger float-right js-delete-category" data-category-id="@category.Id">Delete</button></li>
		}
	</ul>
</div>
