@model IEnumerable<CategoryDto>

@{
	ViewData["Title"] = "Manage Categories";
}

<div class="container">
	<h2>@ViewBag.Title</h2>
	<hr />

	<form method="post">
		<ul class="list-group">
			@if (Model.Any())
			{
				foreach (var category in Model)
				{
					<li class="list-group-item">
						@category.Name
						<button type="submit" asp-controller="Categories" asp-action="DeleteCategory" asp-route-categoryId="@category.Id"
								class="btn btn-danger float-right">
							Delete
						</button>
					</li>
				}
			}
			else
			{
				<li class="list-group-item disabled">No categories.</li>
			}
		</ul>
	</form>
</div>
