@model EditTaskCommand

@{
	ViewData["Title"] = "Edit task";
}

<div class="container">
	<h2>@ViewBag.Title</h2>
	<hr />

	<form method="post">
		<div class="form-group">
			<label asp-for="Name">Name</label>
			<input asp-for="Name" type="text" class="form-control">
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>

		<div class="form-group">
			<label asp-for="CategoryId">Category</label>
			<select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))" class="form-control">
				<option value="0" selected>No category</option>
			</select>
		</div>
		<div class="form-group">
			<label asp-for="DueDate">Due Date</label>
			<input asp-for="DueDate" type="date" class="form-control">
		</div>
		<div class="form-group">
			<label asp-for="PriorityId">Priority</label>
			<select asp-for="@Model.PriorityId" class="form-control">
				<option value="0">No priority</option>
				<option value="1">Low</option>
				<option value="2">Medium</option>
				<option value="4">High</option>
			</select>
		</div>

		<input type="hidden" asp-for="Id" value="@Model.Id" />
		<button type="submit" class="btn btn-primary">Update</button>
		<a asp-controller="Tasks" asp-action="Summary" class="btn btn-secondary">Cancel</a>
	</form>
</div>
